{% extends 'base.html' %}

{% block title %}{{ book.title }} - Details{% endblock %}

{% block body %}


<h1>{{ book.title }}</h1>

<p>
  Autor: {{ book.author }}
</p>

<p>
  Description: {{ book.description }}
</p>

<p>
  Number of pages: {{ book.page_num }}
</p>


{% if session.get('user_email') %}
<h2>Rate this book</h2>
<form action="/books/{{ book.book_id }}/ratings" method="POST">
  <p>
    Rating:
    <select name="rating">
      <option value="">Select rating</option>
      {% for num in range(5) %}
        <option value="{{ num }}">{{ num }}</option>
      {% endfor %}
    </select>
  </p>
  <p><input type="submit"></p>
</form>
{% endif %}

{% endblock %}