{% extends 'base.html' %}
{% block title %}Sign up{% endblock %}

{% block body %}
<div class="row mt-3">
  <div class="col-6 offset-3">
    <div class="row mb-3">
      <h2>Log In</h2>
    </div>
    <form action="/login" method="POST">
      <div class="row mb-3">
        <div class="col">
          <input type="email" name="email" class="form-control" placeholder="Email address" aria-label="Email address">
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <input type="password" name="password" class="form-control" placeholder="Password" aria-label="Password">
        </div>
      </div>
      <div class="row m-1">
        <button type="submit" class="btn btn-primary btn-block">Login</button>
      </div>
      <div class="row m-1">
        <a class="btn btn-outline-secondary btn-block" href="/signup">Sign up</a>
      </div>
    </form>
</div>
</div>
{% endblock %}